.red {
  color: red;
}
.explain {
  font-size: 10px;
}

.btn-area .btn {
  margin: 5px 5px 5px 0;
}
.rating {
  padding: 5px 10px;
}
.image {
  padding: 10px;
}

.image img {
  height: 200px;
  width: 100%;
}

.result {
  cursor: pointer;
}

.kao-btn {
  margin-top: 0;
}
@media (min-width: 768px) {
  .kao-btn {
    margin-top: 5px;
  }  
}

p.label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.image img {
  border: 3px solid grey;
  border-radius: 5px;
}
img.common {
  border-color: green;
}
img.uncommon {
  border-color: purple;
}
img.rare {
  border-color: gold;
}
.main-container {
  flex: 1;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}
body.rainbow {
  background-image: url('../images/rainbowpoop.gif');
}
body.bw {
  background-image: url('../images/blackandwhite.gif'); 
  color: white;
}
.api-url {
  font-size: 12px;
  margin: 10px 0;
  padding: 0 10px;
}
.add-btn {
  margin-bottom: 50px;
}