.btn-area .btn {
  margin: 5px 3px 5px 0;
}

.image {
  padding: 10px;
}

.image img {
  height: 200px;
  width: 100%;
}

.result {
  cursor: pointer;
}

.kao-btn {
  margin-top: 0;
}
@media (min-width: 768px) {
  .kao-btn {
    margin-top: 5px;
  }  
}

p.label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.main-container {
  flex: 1;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}
body.rainbow {
  background-image: url('../images/rainbowpoop.gif');
}
body.bw {
 background-image: url('../images/blackandwhite.gif'); 
 color: white;
}
