.btn-area .btn {
  margin: 5px 3px 5px 0;
}

.image {
  padding: 10px;
}

.image img {
  height: 200px;
  width: 100%;
}

.result {
  cursor: pointer;
}

.kao-btn {
  margin-top: 0;
}
@media (min-width: 768px) {
  .kao-btn {
    margin-top: 5px;
  }  
}
